body {
  background-color: #eee;
}

.App-header{
  background-color: #89BF04;
}

.content {
  text-align: center;
}

.left {
  text-align: left;
}


input {
  display: block;
}

button:focus {
  outline: none;
}

.endpoint {
  background-color: #fff;
  width: 800px;
}
